body {
	padding-top: 5rem;
}

.navbar{
	margin-bottom: 15px;
	background: #445;
	font-size: 20px;
}

.navbar-default .navbar-nav > li >a {
	color: #eee;
}

.starter-template {
	padding: 3rem 1.5rem;
	text-align: center;
}

#back{
	position: fixed;
	right: 450px;
}

